 <div ng-show="bool" class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo left logo-adjust"><img class="img-logo" src="assets/img/icons/Marvel-Logo.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <!--  <form>
        <div class="input-field right" style="text-align: center;"">
          <input id="search"  placeholder="Search character..." type="search" ng-model="search" required>
          <label for="search" ><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          </div>
      </form> -->
        <ul class="right hide-on-med-and-down">
          <li><a href="#" ng-click="onSearch();"><i class="material-icons right">search</i>Search</a></li>
        </ul>
        <ul class="side-nav right" id="mobile-demo">
        <li><a href="#" ng-click="onSearch();"><i class="material-icons left">search</i></a>Search</li>
      </div>
    </nav>
  </div>

  <nav ng-hide="bool">
    <div class="nav-wrapper grey darken-4">
      <form>
        <div class="input-field">
          <input id="search"  placeholder="Search character..." type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i ng-click="onSearch();" class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>





