
<!-- BREADCRUMB FAVOURITES -->
<div class="row">
 	<div class="col l12 m12 s12">
      	<img class="logo character" src="assets/img/icons/favourites.png">
        <span class="texto black-text flow-text"><strong>My favourites</strong></span>
   
  	</div>
</div>
<!-- END BREADCRUMB FAVOURITES -->

<div class="row" ng-hide="boolList">
  	<div class="col s12 m12 l12 des" ng-repeat="list in comics_fav">
          <div class="content-comic">
         <img class="materialboxed " data-caption="{{list.title}}" width="250"ng-src="{{list.img}}">
         <a  ng-click="deleteComic(list.id)"><img class="content-comic-delete comic-link" ng-src="assets/img/icons/btn-delete.png"/></a>
          <p class="card-title black-text" style="text-align: center;"><strong>{{list.title}}</strong></p>
          </div>
    </div>
</div>

<div class="row" ng-show="boolList">
    <div class="col s12 m12 l12 des">
          <p><strong>Does not have favorite comics....</strong></p>
    </div>
</div>

