.logo-adjust{
	margin-left: 50px;
}

.img-logo{
	width: 150px;
	height: 55px;
	margin-top: 5px;
}

.footer-copyright{

	margin-bottom: 10px; 
}
.nav-wrapper form{
	max-width: 100%;
	/*max-height: 100px;*/
	/*float: right;*/
	
}

.sidebar {
    height: 100%;
    padding-bottom: 100px;
    
}

.character{
	float:left; 
	margin-right: -50px;
}

.texto{
	padding-left: 60px;
	padding-top: 5px;
	font-size: 22px;
}
.content{
	height: 100%;
	padding-bottom: 20px;
	
}

.margen{
	padding: 20px;
}

.bread{
	height: 40px;
}

.comics{
	height: 500px;
}

.characts{
	height: 250px;
	background-position: center center; 
	background-size: cover;
}

.charc-content{
	height: 300px;
}

.sort{
	margin-top: -20px;
}
.pagination{
	left:0px;
   bottom:0px;
   width: 100%;
   padding-bottom: 20px;
}

.rel-comics{

}

.rel-comics p{
	line-height: 1.5em;
    height: 3em;       
    overflow: hidden; 
}

.rel-comics a{
	line-height: 1.5em;
    height: 3em;       
    overflow: hidden;
    margin-top: 5px; 
}

.des p{
	line-height: 1.5em;
    height: 6em;       
    overflow: hidden;  
}

.des-comic p{
	line-height: 1.5em;
    height: 9em;       
    overflow: hidden;
    text-overflow: ellipsis;  
}

.des-comic h5{
	line-height: 1.5em;
    height: 3em;       
    overflow: hidden;
    text-overflow: ellipsis; 
    font-weight: bold;
}

.des a{
	bottom: inherit;
	padding-bottom: 5px;
}

.padd{
	padding-bottom: 5px;

}

.separator-card{
	margin-bottom: 10px;
}

.arrow{
	float: left; 
	display: none; 
	padding-right: 10px; 
	padding-top: 15px;
}

.btn-add{
	width: 50%; 
	height: 60px; 
	float: left !important;
	padding-top: 11px;
	font-weight: bold;
}

.btn-buy{
	width: 50%; 
	height: 60px; 
	float: right !important;
	padding-top: 11px;
	font-weight: bold;
}

.btn-icon{
	float:left; 
	margin-right: 20px; 
	padding-left: 5px;
	border-radius: 50%;
}

.margen-modal{
	margin-left: 15px !important;
	margin-top: 5px !important;
	margin-right: -200px !important;
}

.btn-delete{
	float: right;
}

.comic-link{
	cursor:pointer;
}

.content-comic {
    position: relative;
}

.content-comic-delete  {
    position: absolute;
    top: -3%;
    right: 0%;
}



/*@media only screen and (max-width: 500px) {
	.contet-comic-delete{

	}
}*/

.char-name{
	font-size: 18px;
}

.carta{
	height: 600px;
}

.viewmore{
	margin-top: 10px;
	bottom: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.rectangule-comic{
	width: 150px;
	height: 200px;

}

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Bold.woff2);
}

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Regular.woff2);
}
