.logo-adjust{
	margin-left: 50px;
}

.img-logo{
	width: 150px;
	height: 55px;
	margin-top: 5px;
}

.footer-copyright{

	margin-bottom: 10px; 
}
.nav-wrapper form{
	max-width: 100%;
	/*max-height: 100px;*/
	/*float: right;*/
	
}

.sidebar {
    height: 100%;
    padding-bottom: 100px;
    
}

.character{
	float:left; 
	margin-right: -50px;
}

.texto{
	padding-left: 60px;
	padding-top: 5px;
	font-size: 22px;
}
.content{
	height: 100%;
	padding-bottom: 20px;
	
}

.margen{
	padding: 20px;
}

.bread{
	height: 40px;
}

.comics{
	height: 500px;
}

.characts{
	height: 200px;
	background-position: center center; 
	background-size: cover;
}

.sort{
	margin-top: -20px;
}
.pagination{
	left:0px;
   bottom:0px;
   width: 100%;
   padding-bottom: 20px;
}

.rel-comics{

}

.rel-comics p{
	line-height: 1.5em;
    height: 3em;       
    overflow: hidden; 
}

.des p{
	line-height: 1.5em;
    height: 6em;       
    overflow: hidden;  
}

.name_char{
	line-height: 1em;
    height: 1em;       
    overflow: hidden;  
}
.des a{
	bottom: inherit;
	padding-bottom: 5px;
}

.padd{
	padding-bottom: 5px;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Bold.woff2);
}

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Regular.woff2);
}
