.logo-adjust{
	margin-left: 50px;
}

.img-logo{
	width: 150px;
	height: 55px;
	margin-top: 5px;
}

.footer-copyright{

	margin-bottom: 10px; 
}
.nav-wrapper form{
	max-width: 100%;
	/*max-height: 100px;*/
	/*float: right;*/
	
}

.sidebar {
    height: 100%;
    padding-bottom: 100px;
    
}

.character{
	float:left; 
	margin-right: -50px;
}

.texto{
	padding-left: 60px;
	padding-top: 5px;
	font-size: 22px;
}
.content{
	height: 100%;
	padding-bottom: 20px;
	
}

.margen{
	padding: 20px;
}

.bread{
	height: 40px;
}

.comics{
	height: 500px;
}

.characts{
	/*height: 500px;*/
	background-position: center top; 
	background-size: cover; 
	width: 200px; 
	height: 200px; 
	border-radius: 50%;
}

.sort{
	margin-top: -20px;
}
.pagination{
	left:0px;
   bottom:0px;
   width: 100%;
   padding-bottom: 20px;
}

.ft {
   position:fixed;
   left:0px;
   bottom:0px;
   max-height: 70px;  
   width:100%;
   color: #eee;
   font-size: 16px;
}

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Bold.woff2);
}

@font-face {
    font-family: RobotoBold;
    src: url(../plugins/materialize-css/fonts/roboto/Roboto-Regular.woff2);
}
