<!-- BREADCRUMB CHARACTERS -->
<div ng-controller="MarvelController">

	<div class="row bread">
	 	<div class="col s6 m6 l6 left">
	      	<img  class="logo character" src="assets/img/icons/characters.png">
	        <div class="texto black-text"><strong>Characters</strong></div>
	   
	  	</div>

	  	<div class="input field bread sort col s3 m3 l3 right">
	  		<div input-field class="black-text">
		    	<select  ng-model="sort" material-select watch>
		    		 <option disabled selected>Sort</option>
		        	 <option value="2" selected="selected">Option 1</option>
	      			 <option value="3">Option 2</option>
		    	</select>
		  	</div>
		</div>

	</div>
	<!-- END BREADCRUMB CHARACTERS -->

		<div class="row">
	        <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	        

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	        

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	    

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	  

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	     

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	    

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	   

	         <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>

	          <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>

	          <div class="col s12 m6 l6">
	           <div class="card">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	        
	      
	</div>



	<div class="row">
		
		<div class="col l12 m12 s12 offset-s4 pagination">
			<pagination
			    page="1"
			    page-size="10"
			    total="200"
			    show-prev-next="true"
			    use-simple-prev-next="false"
			    dots="...."
			    hide-if-empty="false"
			    adjacent="2"
			    scroll-top="false"
			    pagination-action="changePage(page)" />
		</div>
	</div>

</div>



  

	

