<!-- BREADCRUMB CHARACTERS -->
<div ng-controller="MarvelController" ng-init="getAllCharacters(flag);">

	<div class="row bread">
	 	<div class="col s6 m6 l6 left">
	      	<img  class="logo character" src="assets/img/icons/characters.png">
	        <div class="texto black-text"><strong>Characters</strong></div>
	   
	  	</div>

	  	<div class="input field bread sort col s2 m2 l2 right">
	  		<div input-field class="black-text">
		    	<select  ng-model="sort" material-select watch>
		    		 <option value="Sort" selected>Sort</option>
		        	 <option value="Upward">Upward</option>
	      			 <option value="Falling">Falling</option>
		    	</select>
		  	</div>
		</div>

	</div>
	<!-- END BREADCRUMB CHARACTERS -->

		<div class="row">

	    <div ng-show="loader" class="row"">
			<div class="col l6 m6 s6">
				<div class="preloader-wrapper big active loading">
					<div class="spinner-layer spinner-red-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
			<div ng-hide="loader"> 
	          <div class="col s12 m12 l6 separator-card" ng-repeat="char in comic_obj">
	             <div class="card large z-depth-4">
				    <div class="card-image characts waves-effect waves-block waves-light">
				    	<img class="activator characts" ng-src="{{char.photo_url}}">
				    	<!--  <span class="card-title white-text"><b>{{char.name}}</b></span> -->
				    </div>
		        	 <div class="card-content des carta">
				    	<span class="card-title grey-text text-darken-4" style="font-size: 20px;"><strong>{{char.name}}</strong></span>
				      	<p>{{char.description}} -- {{query}}</p>
				      	<p><a class="waves-effect waves-light btn red activator viewmore right">View more</a></p>
		        	</div>
				    <div class="card-reveal rel-comics">
				    <span class="card-title grey-text text-darken-1"><b>Related comics</b><i class="material-icons right">close</i></span>
				    	<div class="row">
				    		<div class="col s6 m6 l6" ng-repeat-end ng-repeat-start="x in char.comics">
				    			 <img class="arrow" src="assets/img/icons/link-arrow.png" id="comic" title="{{x.name}}"></img>
				    			 <p ng-click="selectComic(x.name,x.id);" value="{{x.name}}" id="comic2" class="red-text padd comic-link">{{x.name }}</p>
				    			
				    		</div>
				    	</div>
				     	
				    </div>
			  	</div>
	        </div>
	</div>

		  <!-- Modal Structure -->
		  <div id="modal1" class="modal large">
		    <div class="modal-content">
		    	<div class="row">
		    	<img ng-click="closeModal(x.name);" class="comic-link btn-delete" ng-src="assets/img/icons/btn-close.png"/>
		    		<div class="col s6" style="width: 250px; height: 280px;">
					    <img  style="width: 250px; height: 280px;" ng-src="{{comic_detail.img}}"/>
					</div>
					<div class="col s6 des-comic margen-modal">
					
						<h5>{{comic_detail.title}}</h5>
					      <p>{{comic_detail.description}}</p>
					</div>
			    </div>
		    </div>
		    <div class="modal-footer">
		    	
		    		<div class="row">
		    		<!-- <div class="col s6"> -->
		    			<div ng_hide="boolFav">
			      			<a class="waves-effect waves-ligth btn-add btn-flat grey lighten-4  grey-text text-darken-4 " ng-click="saveComic(comic_detail.title,comic_detail.img, comic_detail.id)">ADD TO FAVOURITES
			      			<img class="btn-icon" src="assets/img/icons/btn-favourites-default.png"></a>  
						</div>

						<div ng-show="boolFav">
			      			<a class="waves-effect waves-light btn-add btn-flat brown darken-3 red-text text-accent-3">ADDED TO FAVOURITES
			      			<img class="btn-icon" src="assets/img/icons/btn-favourites-primary.png"></a>  
						</div>

		      		
		      	<!-- 	<div class="col s6"> -->
		      			<a active class="waves-effect waves-light btn-buy btn-flat grey lighten-2 red-text text-accent-3" >BUY FOR ${{comic_detail.price}}
		      			<img class="btn-icon" src="assets/img/icons/shopping-cart-primary.png"></a>  
		      		</div>
		      	</div>
		    </div>
	
	<div ng-hide="loader" class="row" style="margin: auto;">
		
		<div class="col l12 m12 s12 pagination">
			<pagination
				ng-model="currentPage"
			    page="1"
			    page-size="10"
			    total="total"
			    show-prev-next="true"
			    use-simple-prev-next="false"
			    dots="...."
			    hide-if-empty="false"
			    adjacent="3"
			    scroll-top="true"
			    pagination-action="changePage(page)" />
		</div>
	</div>
<script type="text/javascript">
		$(document).ready(function() {
    	// $('select').material_select();
    	$('.modal').modal({
		      dismissible: false, // Modal can be dismissed by clicking outside of the modal
		      opacity: .4, // Opacity of modal background
		      in_duration: 300, // Transition in duration
		      out_duration: 200, // Transition out duration
		      blur: 5 
		      // starting_top: '4%', // Starting top style attribute
		      // ending_top: '10%', // Ending top style attribute
		    }
  		);

  		// $('.modal').modal();
    	 $('.materialboxed').materialbox();
    	  $('.tooltipped').tooltip({delay: 50});
	
  	});
	</script>
</div>
