<!-- BREADCRUMB CHARACTERS -->
<div ng-controller="MarvelController" ng-init="getAllCharacters(0,10);">

	<div class="row bread">
	 	<div class="col s6 m6 l6 left">
	      	<img  class="logo character" src="assets/img/icons/characters.png">
	        <div class="texto black-text"><strong>Characters</strong></div>
	   
	  	</div>

	  	<div class="input field bread sort col s2 m2 l2 right">
	  		<div input-field class="black-text">
		    	<select  ng-model="sort" material-select watch>
		    		 <option disabled selected>Sort</option>
		        	 <option value="2" selected="selected">Option 1</option>
	      			 <option value="3">Option 2</option>
		    	</select>
		  	</div>
		</div>

	</div>
	<!-- END BREADCRUMB CHARACTERS -->

		<div class="row">
	        <!-- <div class="col s12 m12 l6">
	           <div class="card card horizontal small z-depth-4">
	            <div class="card-image">
	              <img ng-src="{{photo_url}}" class="responsive-img" style="background-position: center top; background-size: cover;">
	              <span class="card-title white-text"><strong>{{name_character}}</strong></span>
	            </div>
		           <div class="card-stacked">
			        	<div class="card-content">
			          		<p>I am a very simple card. I am good at containing small bits of information.</p>
			        	</div>
			        	<div class="card-action">
			          		<a class="waves-effect waves-light btn red">View more</a>
			        	</div>
	          		</div>
	          </div>
	        </div> -->

	    <div ng-show="loader" class="row">
			<div class="col l12 m12 s12">
				<div class="preloader-wrapper big active loading">
					<div class="spinner-layer spinner-red-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
			

	          <div ng-hide="loader" class="col s12 m12 l6" style="margin-bottom: 5px;" ng-repeat="char in comic_obj">
	             <div class="card large z-depth-4">
				    <div class="card-image characts waves-effect waves-block waves-light">
				    	<img class="activator characts" ng-src="{{char.photo_url}}">
				    	<!--  <span class="card-title white-text"><b>{{char.name}}</b></span> -->
				    </div>
		        	 <div class="card-content des">
				    	<span class="card-title grey-text text-darken-4"><strong>{{char.name}}</strong></span>
				      	<p>{{char.description}}</p>
				      	<a class="waves-effect waves-light btn red right">View more</a>
		        	</div>
				    <div class="card-reveal rel-comics">
				    <span class="card-title grey-text text-darken-1"><b>Related comics</b><i class="material-icons right">close</i></span>
				    	<div class="row">
				    		<div class="col s6 m6 l6" ng-repeat-end ng-repeat-start="x in char.comics">
				    			 <p href="#" class="red-text padd">{{x}}</p>
				    		</div>
				    	</div>
				     	
				    </div>
			  	</div>
	        </div>

	         <!-- <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image comics">
	              <img src="assets/img/icons/Marvel-Logo.png" class="comics">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	        

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	    

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	  

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	     

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	    

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>
	   

	         <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>

	          <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div>

	          <div class="col s12 m12 l6">
	           <div class="card large">
	            <div class="card-image">
	              <img src="assets/img/icons/Marvel-Logo.png">
	              <span class="card-title black-text"><strong>Card Title</strong></span>
	            </div>
	            <div class="card-content">
	              <p>I am a very simple card. I am good at containing small bits of information.
	              I am convenient because I require little markup to use effectively.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">This is a link</a>
	            </div>
	          </div>
	          </div> -->
	        
	      
	</div>



	<div ng-hide="loader" class="row" style="margin: auto;">
		
		<div class="col l12 m12 s12 pagination">
			<pagination
				ng-model="currentPage"
			    page="1"
			    page-size="10"
			    total="total"
			    show-prev-next="true"
			    use-simple-prev-next="false"
			    dots="...."
			    hide-if-empty="false"
			    adjacent="3"
			    scroll-top="true"
			    pagination-action="changePage(page)" />
		</div>
	</div>

</div>



  

	

